*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.grid-box{
    border: 1px solid;
}

.box1{
    background-color: #FE0000;
}.box2{
    background-color: #008001;
}.box3{
    background-color: #FF4500;
}.box4{
    background-color: #81007F;
}.box5{
    background-color: #FF1494;
}.box6{
    background-color: #0000FE;
}.box7{
    background-color: #A52B2A;
}.box8{
    background-color: #EE82EF;
}.box9{
    background-color: #4B0081;
}.box10{
    background-color: #FED700;
}.box11{
    background-color: #609DA0;
}.box12{
    background-color: #00FFFF;
}